@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navigation Button Hover */
.contact-btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  /* transform: skew(45deg); */
  transform: skewX(45deg);
  background-color: white;
  z-index: -1;
  transition: all 0.6s;
}

.contact-btn:hover::before {
  width: 160%;
}
