@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navigation Button Hover */
.contact-btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  /* transform: skew(45deg); */
  transform: skewX(45deg);
  background-color: white;
  z-index: -1;
  transition: all 0.6s;
}

.contact-btn:hover::before {
  width: 160%;
}

/* Slider Background */
.theme-background {
  background: rgb(234, 109, 10);
  background: -moz-linear-gradient(
    145deg,
    rgba(234, 109, 10, 1) 0%,
    rgba(241, 196, 45, 1) 33%,
    rgba(241, 159, 36, 1) 80%,
    rgba(232, 174, 24, 1) 100%
  );
  background: -webkit-linear-gradient(
    145deg,
    rgba(234, 109, 10, 1) 0%,
    rgba(241, 196, 45, 1) 33%,
    rgba(241, 159, 36, 1) 80%,
    rgba(232, 174, 24, 1) 100%
  );
  background: linear-gradient(
    145deg,
    rgba(234, 109, 10, 1) 0%,
    rgba(241, 196, 45, 1) 33%,
    rgba(241, 159, 36, 1) 80%,
    rgba(232, 174, 24, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea6d0a",endColorstr="#e8ae18",GradientType=1);
}
.theme-background-secondary {
  background: rgb(241, 159, 36);
  background: -moz-linear-gradient(
    145deg,
    rgba(241, 159, 36, 1) 9%,
    rgba(241, 196, 45, 1) 39%,
    rgba(234, 109, 10, 1) 76%,
    rgba(232, 174, 24, 1) 100%
  );
  background: -webkit-linear-gradient(
    145deg,
    rgba(241, 159, 36, 1) 9%,
    rgba(241, 196, 45, 1) 39%,
    rgba(234, 109, 10, 1) 76%,
    rgba(232, 174, 24, 1) 100%
  );
  background: linear-gradient(
    145deg,
    rgba(241, 159, 36, 1) 9%,
    rgba(241, 196, 45, 1) 39%,
    rgba(234, 109, 10, 1) 76%,
    rgba(232, 174, 24, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f19f24",endColorstr="#e8ae18",GradientType=1);
}

/* Animation delays  */
.animation-delay-4000 {
  animation-delay: 4000ms;
}
.animation-delay-5000 {
  animation-delay: 5000ms;
}
.animation-delay-6000 {
  animation-delay: 6000ms;
}
.animation-delay-7000 {
  animation-delay: 7000ms;
}

/* Main Heading Animation */
.main-heading-word {
  @apply animate-textUp block animation-delay-6000 translate-y-14;
}
.main-heading-word.word-1 {
  animation-delay: 6500ms;
}
.main-heading-word.word-2 {
  animation-delay: 6600ms;
}
.main-heading-word.word-3 {
  animation-delay: 6700ms;
}
.main-heading-word.word-4 {
  animation-delay: 6800ms;
}
.main-heading-word.word-5 {
  animation-delay: 6900ms;
}
.main-heading-word.word-6 {
  animation-delay: 7000ms;
}

/* Preloader */
.spin-letter {
  @apply h-16 w-2 top-0 left-1/2 opacity-0 animate-fades block absolute font-mono origin-bottom text-white text-[11px] font-semibold tracking-widest uppercase;
}
.spin-letter:first-child {
  transform: rotate(10deg);
  animation-delay: 100ms;
}
.spin-letter:nth-child(2) {
  transform: rotate(25deg);
  animation-delay: 200ms;
}
.spin-letter:nth-child(3) {
  transform: rotate(40deg);
  animation-delay: 300ms;
}
.spin-letter:nth-child(4) {
  transform: rotate(55deg);
  animation-delay: 400ms;
}
.spin-letter:nth-child(5) {
  transform: rotate(70deg);
  animation-delay: 500ms;
}
.spin-letter:nth-child(6) {
  transform: rotate(85deg);
  animation-delay: 600ms;
}
.spin-letter:nth-child(7) {
  transform: rotate(100deg);
  animation-delay: 700ms;
}
.spin-letter:nth-child(8) {
  transform: rotate(115deg);
  animation-delay: 800ms;
}
.spin-letter:nth-child(9) {
  transform: rotate(130deg);
  animation-delay: 900ms;
}
.spin-letter:nth-child(10) {
  transform: rotate(145deg);
  animation-delay: 1000ms;
}
.spin-letter:nth-child(11) {
  transform: rotate(160deg);
  animation-delay: 1100ms;
}
.spin-letter:nth-child(12) {
  transform: rotate(175deg);
  animation-delay: 1200ms;
}
.spin-letter:nth-child(13) {
  transform: rotate(190deg);
  animation-delay: 1300ms;
}
.spin-letter:nth-child(14) {
  transform: rotate(205deg);
  animation-delay: 1400ms;
}
.spin-letter:nth-child(15) {
  transform: rotate(220deg);
  animation-delay: 1500ms;
}
